name: Test Build

on:
  push:
    branches-ignore:
      - main
    paths-ignore:
      - "README.md"
      - "LICENSE"
      - "CONTRIBUTING.md"
      - ".gitignore"
      - ".github/renovate.json"
  workflow_dispatch:

jobs:
  build-n-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Install bun
        uses: oven-sh/setup-bun@v2

      - name: Install dependencies
        run: bun install --frozen-lockfile

      - name: Build website
        env:
          NODE_OPTIONS: --max_old_space_size=8192
        run: bun generate
